@import '../../base.scss';

$header-menu-item-margin-x: 16px;
$header-action-item-margin-x: 15px;

:root {
    --header-height: 60px;
    --header-logo-width: 170px;
}

header.siteHeader {
    position: sticky;
    top: 0px;
    padding-left: var(--site-edge-margin);
    padding-right: var(--site-edge-margin);
    background-color: inherit;
    text-align: center;
    z-index: 100;

    .headerContainer {
        display: flex;
        position: relative;
        max-width: 1100px;
        height: var(--header-height);
        background-color: inherit;
        align-items: stretch;
    }
}

nav.navbarMenu {
    display: flex;
    flex-grow: 1;
    background-color: inherit;
    align-items: center;
    justify-content: space-between;
    margin: 15px 244px;

    .navList {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        background-color: inherit;

        .navItem {
            cursor: pointer;

            .navLink {
                font-weight: 500;
                line-height: 24px;
                color: var(--main-text);
                text-decoration: none;
            }
            .navIcon {
                width: 24px;
                height: 24px;
            }
            .navLink, .navIcon {
                &:hover, &:active {
                    color: var(--secondary-text);
                    --main-text: var(--secondary-text);
                }
            }
        }

        &.siteMenuList {
            max-width: calc(50% - var(--header-logo-width) / 2 - #{$header-menu-item-margin-x} / 8);

            .navItem {
                margin-left: $header-menu-item-margin-x;
                margin-right: $header-menu-item-margin-x;

                &:first-child {
                    margin-left: 0px;
                }
            }
        }
        &.siteActionList {
            max-width: calc(50% - var(--header-logo-width) / 2 - #{$header-action-item-margin-x} / 8);

            .navItem {
                margin-left: $header-action-item-margin-x;
                margin-right: $header-action-item-margin-x;

                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }
}

// logo
.headerLogoContainer {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: var(--header-height);
    width: var(--header-logo-width);
}

// // navbar-toggle
// input#navbar-toggle {
//     display: none;
// }
// label.burgerContainer {
//     display: none;
// }
// .iconToggle {
//     width: 24px;
//     height: 24px;
// }

