@import '../../base.scss';

%done-phase {
   .icon {
     display: inline-block;
   }

   .text {
     display: none;
   }
 }

 %undone-phase {
   .icon {
     display: none;
   }

   .text {
     display: inline-block;
   }
 }

 %current-text {
   color: var(--progress-current-color);
 }

 %current-icon {
   @extend %current-text;
   background-color: transparent;
   border: 1px solid var(--progress-current-color);
   @extend %undone-phase;
 }

 %undone-text {
   color: var(--progress-undone-color);
 }

 %undone-icon {
   @extend %undone-text;
   background-color: transparent;
   border: 1px solid var(--progress-undone-color);
   @extend %undone-phase;
 }

 %done-text {
   @extend %current-text;
 }

 %done-icon {
   color: var(--progress-done-color);
   background-color: transparent;
   @extend %done-phase;
 }


