@import '../../base.scss';
@import '../Register/Steps.module.scss';


section.progressContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;

  .progressBar {
    display: flex;
    flex-grow: 1;
    max-width: 60px;
    height: 1px;
    margin: 0px 8px;
    border-width: 2px;
    border-style: solid;
    opacity: .3;
  }

  .progressGroup {
    display: flex;
    opacity: .3;

    .progressIcon {
      border: 1px solid #000;
      display: inline-block;
      position: relative;
      width: 24px;
      height: 24px;
      margin-right: 8px;
      border-radius: 50%;

      .text {
        width: inherit;
        height: inherit;
        position: absolute;
        top: 0px;
        font-size: 12px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        color: inherit;
      }

      .icon {
        display: none;
      }
    }

    .progressLabel {
      font-weight: 400;
      line-height: 24px;
      color: var(--main-text);
    }
  }
}

.activeProgressBar {
  display: flex;
    flex-grow: 1;
    max-width: 60px;
    height: 1px;
    margin: 0px 8px;
    border-width: 2px;
    border-style: solid;
}

.activeGroup {
  display: flex;

  .progressIcon {
    border: 1px solid #000;
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border-radius: 50%;
    
    .text {
      width: inherit;
      height: inherit;
      position: absolute;
      top: 0px;
      font-size: 12px;
      font-weight: 700;
      line-height: 24px;
      text-align: center;
      color: inherit;
    }

    .icon {
      display: none;
    }
  }

  .progressLabel {
    font-weight: 400;
    line-height: 24px;
    color: var(--main-text);
  }
}

.doneGroup {
  display: flex;

  .progressIcon {
    border: 1px solid #000;
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: var(--progress-done-color);

    .text {
      display: none;
    }

    .icon {
      display: flex;
    }
  }

  .progressLabel {
    font-weight: 400;
    line-height: 24px;
    color: var(--main-text);
  }
}


// $phase-map: (
//   1: 'address',
//   2: 'shipping',
//   3: 'credit-card'
// );

// @for $index from 1 to 4 {
//   section.register-container[data-phase="#{$index}"] {

//     // progress-bar
//     .progressBar {
//       &[data-order='1'] {
//         border-color: var(--done-progress-border);
//       }

//       &[data-order='2'] {
//         @if $index ==1 {
//           border-color: var(--undone-progress-border);
//         }

//         @else {
//           border-color: var(--done-progress-border);
//         }
//       }
//     }

//     @each $key,
//     $phase in $phase-map {

//       // progress-group
//       .progressGroup[data-phase="#{$phase}"] {
//         @if $key >$index {
//           .progressIcon {
//             @extend %undone-icon;
//           }

//           .progressLabel {
//             @extend %undone-text;
//           }
//         }

//         @else if $key ==$index {
//           .progressIcon {
//             @extend %current-icon;
//           }

//           .progressLabel {
//             @extend %current-text;
//           }
//         }

//         @else {
//           .progressIcon {
//             @extend %done-icon;
//           }

//           .progressLabel {
//             @extend %done-text;
//           }
//         }

//         @if $phase =='address' {
//           .progressIcon {
//             background-color: var(--pg-addr-bg-color);
//             border-color: var(--pg-addr-bg-color);

//             .text {
//               color: var(--pg-addr-color);
//             }
//           }
//         }
//       }

      // form
      // form[data-phase="#{$phase}"] {
      //   @if $index ==$key {
      //     display: flex;
      //   }

      //   @else {
      //     display: none;
      //   }
      // }

      // // progress-control
      // &~section.progress-control-container {
      //   .button-group[data-phase="#{$phase}"] {
      //     @if $index ==$key {
      //       display: flex;
      //     }

      //     @else {
      //       display: none;
      //     }
      //   }
      // }
//     }
//   }
// }


// .progressContainer {
//   .progressBar {
//     &[data-order='1'] {
//       border-color: var(--done-progress-border);
//     }

//     &[data-order='2'] {
//       border-color: var(--undone-progress-border);
//     }
//   }

//   span[dataPhase="address"] {
//     .progressIcon {
//       @extend %current-icon;
//       background-color: var(--pg-addr-bg-color);
//       border-color: var(--pg-addr-bg-color);
//       color: var(--pg-addr-color);
//     }
//   }

//   span[dataPhase="shipping"],
//   span[dataPhase="credit-card"] {
//     .progressIcon {
//       @extend %undone-icon;
//     }
//   }
// }



